*.cm*
*.a
*.o
*.annot
.chamo*
master.Makefile
config.log
config_check.log
ocaml_config.sh
config.status
configure.lineno
autom4te.cache
src/gtke_version.ml
src/gtke_install.ml
src/ocamldoc
examples/*.x
web/website

