<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<!--<image float="right" src="&lt;site-url/&gt;/stog-logo.svg" width="30"/>-->
<env_ mainpage="&lt;site-url/&gt;/index.html">
  <div class="nav-collapse">
    <ul class="nav">
    <li class="&lt;navbar-home/&gt;"><a href="&lt;mainpage/&gt;">Lablgtk-extras</a></li>
    <li class="&lt;navbar-okey/&gt;"><doc href="/okey"/></li>
    <li class="&lt;navbar-configwin/&gt;"><doc href="/configwin"/></li>
    <li class="&lt;navbar-doc/&gt;"><a href="&lt;site-url/&gt;/refdoc/lablgtk3-extras/index.html">Documentation</a></li>
  </ul>
  <div class="nav pull-right">  </div>
  </div>
</env_>
</div>
</div>
</div>
