<page title="Lablgtk-extras"
main_="true"
stog:site-description="Diffs of XML trees"
stog:site-email="zoggy 'AT' bat8 'DOT' org"
stog:site-url="https://zoggy.frama.io/lablgtk-extras"
stog:rss-length="10"
navbar-home="active"
with-contents="true"
section-counter="false"
subsection-counter="false"
empty_=""
>
<ml foo=""><icode defer_="1" lang="ocaml"><contents/></icode></ml>
<release version="" date="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<if date=""><error_><version/>: missing date</error_></if>
<li><ext-a href="https://framagit.org/zoggy/lablgtk-extras/-/archive/&lt;version/&gt;/lablgtk-extras-&lt;version/&gt;.tar.bz2"><version/></ext-a>
<span class="date">[<date/>]</span>:
<contents/>
</li>
</release>

<contents>
<p>Lablgtk-extras is a collection of libraries and modules useful when developing
OCaml/LablGtk applications.
</p>
<p>Last release for LablGtk2 is 1.6 and installs the packages
<icode>lablgtk2-extras</icode> and <icode>lablgtk2-extras.configwin</icode>.</p>
<p>
Release 3.0 uses Lablgtk3 and installs the packages
<icode>lablgtk3-extras</icode> and <icode>lablgtk3-extras.configwin</icode>.</p>
<p>The following modules have more detailed pages:</p>
<ul>
<li><doc href="okey"/></li>
<li><doc href="configwin"/></li>
</ul>
<section id="download" title="Download">
<p>
Lablgtk-extras is <ext-a href="https://framagit.org/zoggy/lablgtk-extras">hosted on Framagit</ext-a>.
</p>
</section>
<section id="releases" title="Releases">
<ul>
<release version="3.0.1" date="2021-12-08">
<ul><li>use dune to build and install,</li>
<li>remove useless modules <ml>Gtke_install</ml> and <ml>Gtke_version</ml>.</li>
</ul>
</release>

<release version="3.0" date="2021-05-28">
<ul><li>upgrade to ocaml 4.12.0 and lablgtk3,</li>
<li>Gtksv_utils honors XDG_CONFIG_HOME to store configuration,</li>
<li>use <ext-a href="https://zoggy.frama.io/ocf/">Ocf</ext-a> instead of Config_file,</li>
<li>use stock buttons rather than hard-coded labels,</li>
<li>various fixes,</li>
<li>more <ext-a href="https://framagit.org/zoggy/lablgtk-extras/-/tree/master/examples">examples</ext-a>.</li>
</ul>
</release>
<release version="1.6" date="2017-04-10"/>Last release for LablGtk2.
</ul>
</section>

<section id="install" title="Installation">
<p>
To be installed, Lablgtk-extras requires:
</p>
<ul>
<li>OCaml &gt;= 4.12.0,</li>
<li><ext-a href="http://erratique.ch/software/xmlm">Xmlm &gt;= 1.3.0</ext-a>,</li>
<li><ext-a href="https://garrigue.github.io/lablgtk/">Lablgtk &gt;= 3.1.1</ext-a>.</li>
<li><ext-a href="https://zoggy.frama.io/ocf/">Ocf &gt;= 0.8.0</ext-a>.</li>
<li><ext-a href="https://github.com/ocaml-community/yojson">Yojson &gt;= 1.7.0</ext-a>.</li>
</ul>
<p>To compile and install:
</p>
<ul>
<li><span class="shell">tar xvfz lablgtk-extras-XXX.tar.gz</span></li>
<li><span class="shell">cd lablgtk-extras-XXX</span></li>
<li><span class="shell">make install</span></li>
</ul>
<p>
This will install the <icode>lablgtk3-extras</icode> and
<icode>lablgtk3-extras.configwin</icode> packages.
</p>
<p>You can also install with <ext-a href="http://opam.ocaml.org/">Opam</ext-a>:</p>
<command-line>opam install lablgtk3-extras</command-line>
</section>

<section id="doc" title="Documentation">
<p>
Reference documentation is <a href="refdoc/lablgtk3-extras/index.html">here</a>.
</p>
</section>

<section id="license" title="License">
<p>
Lablgtk-extras is released under the <ext-a href="http://www.gnu.org/licenses/lgpl.html">LGPL v3</ext-a>.
</p>
</section>

<section id="contact" title="Author and contact">
<p>
Maxence Guesdon <tt>&lt;Maxence 'DOT' Guesdon 'AT' inria 'DOT' fr&gt;</tt>
</p>
</section>
</contents>
</page>
